hist/
*.ipynb
__pycache__/
.ipynb_checkpoints/
*.pyc
raspberry_pi_test/data/
raspberry_pi_test/models/
remote_hist/swarm_pack_10.pickle
mnist_swarms/
remote_hist/
remote_hist2/
graphs/
my_hist/
imagenet/
please_hist/
ImageNet-Datasets-Downloader/
rbo/
remote2_hist/
top-k-kendall-tau/
tsmc_data/
wiki/
.vscode/
bbc_test/
